/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
  --text-color: white;
  --header-color: rgb(190, 83, 83);
  --button-color: rgb(190, 83, 83);
  --box-shadow: whute;
  --primary-color: rgb(235, 231, 226);
}

/* similar items */

* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(24, 24, 24);
  border: solid white 10px;
  overflow-x: hidden;
  opacity: 1;
  animation: fadein 2.2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* scrolling bar styling */

body::-webkit-scrollbar {
  width: 6px;
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(221, 68, 68);
  border-radius: 5px;
}

.block {
  margin-top: 2em;
  width: 164px;
  height: 50px;
  background-color: rgb(24, 24, 24);
  position: fixed;
  z-index: 2;
}

.nav-bar {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 1;
  padding: 3em 10em;
  overflow-x: hidden;
}

.links {
  padding: 0 1em;
  margin-right: auto;
  transform: translateX(-300%);
  transition: transform 0.2s ease;
}

.change {
  transform: translateX(0%);
  transition: transform 0.2s ease;
}

.change .line1 {
  transform: rotateZ(-405deg) translate(-5px, 1px);
}

.change .line2 {
  transform: rotateZ(405deg) translate(-5px, -1px);
}

.links a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 1em;
}

:hover.link-list a {
  color: rgb(221, 68, 68);
  transition-duration: 0.2s;
}

.link-list {
  font-family: "Roboto", sans-serif;
  list-style: none;
  display: inline-block;
}

.burger div {
  width: 30px;
  height: 2px;
  background-color: white;
  margin: 7px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.8s;
}

:hover.burger div {
  background-color: rgb(221, 68, 68);
  transition-duration: 0.5s;
}

.page-footer {
  display: flex;
  padding-left: 6em;
  padding-bottom: 5em;
}

.mediaS {
  list-style: none;
  padding: 0 1em;
}

.social-media {
  display: flex;
  font-size: 40px;
}

.social-media a {
  position: relative;
  color: white;
  text-decoration: none;
  padding: 3px 0;
  font-family: "Roboto", sans-serif;
}

.social-media a::before,
.social-media a::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgb(221, 68, 68);
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.social-media a::after {
  bottom: 0;
  transform-origin: right;
}

.social-media a::before {
  top: 0;
  transform-origin: left;
}

:hover.mediaS a::before,
:hover.mediaS a::after {
  transform: scaleX(1);
}

:hover.mediaS a {
  color: rgb(221, 68, 68);
  transition-duration: 0.5s;
}

.nav-logo a {
  font-size: 38px;
  text-decoration: none;
  color: white;
  font-family: "Hachi Maru Pop", cursive;
}

:hover.nav-logo a {
  cursor: pointer;
  color: rgb(221, 68, 68);
  transition-duration: 0.5s;
}

/* Home */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13em;
}

.portrait {
  width: 400px;
  border-radius: 50%;
}

.intro {
  font-family: "Roboto", sans-serif;
  width: 1600px;
  line-height: 80px;
  color: white;
  padding: 2em;
  font-size: 80px;
}

.programKnow {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  display: flex;
  justify-content: center;
  color: white;
}

.knowWrapper div {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.imgWrapper img {
  width: 100px;
  height: 90px;
  padding: 15px;
}

/* contact */

.contactWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 11em;
}

.contactHead {
  font-size: 90px;
  padding-bottom: 1em;
}

.informationContact {
  text-align: center;
  color: rgb(221, 68, 68);
  font-size: 70px;
  line-height: 70px;
  padding-bottom: 1em;
}

.emailLinkWrap {
  display: flex;
  justify-content: center;
  padding-bottom: 4em;
}

.emailLink {
  font-size: 60px;
  color: white;
}

:hover.emailLink {
  color: rgb(221, 68, 68);
  transition-duration: 0.5s;
}

.page-footers {
  display: flex;
  padding-bottom: 11em;
  padding-right: 2.5em;
  justify-content: center;
}

/* about */

.aboutBlock {
  display: flex;
  flex-direction: column;
  padding: 17em 17em 0;
  color: white;
}

.aboutHead {
  font-size: 90px;
  padding-bottom: 3em;
}

.aboutMe {
  font-size: 80px;
  line-height: 80px;
  padding-bottom: 1em;
}

.breadIcon {
  width: 80px;
  height: 80px;
}

.berlinIllu {
  position: absolute;
  left: 5%;
  top: 0%;
  z-index: -1;
  margin-top: 10em;
  opacity: 90%;
  height: 120%;
  width: 120%;
}

@-webkit-keyframes color-change {
  0% {
    fill: #4982d8;
  }

  50% {
    fill: #9756c2;
  }

  100% {
    fill: rgb(238, 104, 104);
  }
}

@keyframes color-change {
  0% {
    fill: #4982d8;
  }

  50% {
    fill: #9756c2;
  }

  100% {
    fill: rgb(238, 104, 104);
  }
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
  animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
  animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.buttonPosition {
  display: flex;
  justify-content: flex-end;
  padding-right: 18em;
}

.button {
  justify-content: right;
  padding: 10px;
  text-align: center;
  width: 300px;
  border: 2px solid rgb(190, 83, 83);
  border-radius: 5px;
}

.cvButton {
  font-size: 40px;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  background-color: rgb(190, 83, 83);
  transition-duration: 1s;
}

/* Works */

.portfolioHead {
  display: flex;
  justify-content: left;
  padding-top: 10em;
  padding-left: 15em;
}

.portfolioHeader {
  color: white;
  font-size: 60px;
}

.grid {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
  padding: 0 14em;
}

.grid__item {
  border-radius: 10px;
  text-align: center;
  line-height: 30px;
  transition-duration: 0.2s;
}

.imgItem {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.works {
  padding: 5em 1em 10em;
}

.gitHu {
  border-radius: 10px;
  padding-top: 10px;
  width: 6%;
  height: auto;
}

.gitHu:hover {
  opacity: 0.5;
}

.grid__item:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
}
