* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(235, 231, 226);
}

h1 {
  font-size: 60px;
  color: rgb(190, 83, 83);
  text-shadow: black 1px 2px;
  margin: 1em 1em 1em 0;
  position: relative;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 10px;
  box-shadow: 1px 0.5px black;
}

.page-header__items {
  flex: 0 1 200px;
}

.page-header__items:last-child {
  flex-grow: 1;
  text-align: right;
}

.nav-logo {
  max-width: 100px;
  max-height: 100px;
}

.links a {
  list-style: none;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-shadow: 0.5px 0.5px rgb(255, 255, 255);
  font-size: 17px;
}

.link-list {
  list-style: none;
  display: inline-block;
  margin-left: 25px;
  padding: 1em;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.information p {
  margin-bottom: 8px;
}

.standard-label {
  display: inline-block;
  padding-bottom: 10px;
}

.page-footer a {
  text-decoration: none;
}

.page-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.find-me {
  position: relative;
  text-align: left;
  margin: 0 3.7em 0.7em 0;
  font-weight: bold;
}

.icons {
  width: 25%;
  padding: 0 1em;
}
